.aside, .aside ul, .aside ul li { width: 100% }

.logo {
    color: var(--mainColor);
    margin: 1rem .7rem 3rem
}

.aside { background-color: #fff; margin-top: 1rem }

.aside ul {
    list-style-type: none;
    padding-left: 0;
    display: block;
    width: 100%
}

.aside h4 {
    margin-left: .7rem
}

.aside ul li {
    /* margin: .5rem 0; */
    padding: .7rem 0 .7rem .7rem
}

.aside ul li a, .aside ul li i {
    color: var(--inActive, #a4b6e1);
    text-decoration: none
}

.aside ul li:hover, .active {
    box-shadow: 0 0 5px #eee;
    border-radius: 5px
}
.aside ul li:hover a, .aside ul li:hover i, .aside ul li.active a, .aside ul li.active i{
    color: var(--mainColor, #a974ff)
}

/* Top bar */
.topbar {
    display: none;
    background-color: #fff !important
}

.topbar .downMenu {
    border: 1px solid var(--inActive, #aaa);
    display: flex;
    align-items: center;
    justify-content: center
}

.topbar .downMenu span {
    color: var(--inActive, #aaa) !important;
    background-image: initial;
    display: inline-block;
    width: auto;
    height: auto
}

.topbar .downMenu span i {
    width: auto;
    height: auto;
    font-size: 1.5rem
}

.topbar .aside { margin-top: 1rem }

.form { margin-top: 0 }

.form input {
    margin-left: .7rem
}

.form input {
    border: 1px solid var(--inActive, #aaa);
    color: var(--mainColor, #222) !important;
    max-width: 60%;
    margin-right: 7px
}

.form input::placeholder { color: var(--inActive) }

.form input:focus {
    border-color: var(--mainColor, #aaa);
    outline: 0;
    box-shadow: 0 0 5px var(--mainColor, transparent);
}

.form button {
    border: 1px solid var(--inActive, #aaa) !important;
    color: var(--mainColor, #222) !important
}

.form button:hover {
    color:#fff !important;
    background-color: var(--mainColor, #222) !important;
}
.form button:active, .form button:focus {
    color:#fff !important;
    background-color: var(--mainColor, #222) !important;
    box-shadow: 0 0 5px var(--mainColor) !important;
}

@media(max-width:767px) {
    .topbar { display: flex }
    .asideF { display: none }
}

@media(min-width: 767px){
    .rightSectionLinks { display: none !important }
}